*
    {
        margin: 0;
        padding: 0;
        font-family: 'Play', sans-serif;
    }
    
    html 
    {
        scroll-behavior: smooth;
    }

    body{background-color: #f4f4f4;}
    
    .header
    {
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 50px;
        background-color: #fff;
        box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.25);
        z-index: 10;
    }
    
    .logo
    {
        position: absolute;
        left: 10%;
        top: 10px;
    }
    
    .logo h1
    {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }
    
    .logo h1 a
    {
        text-decoration: none;
        color: #2d2d2d;
    }
    
    .inline
    {
        display: inline;
    }
    
    .nav-menu
    {
        position: absolute;
        right: 10%;
        top: 10px;
    }
    
    
    .nav-menu > li
    {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }
    
    .nav-menu > li > a
    {
        text-decoration: none;
        color: #2d2d2d;
        margin-left: 20px;
    }
    
    .container-img h1
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-weight: 500;
        font-size: 100px;
        color: #fff;
        text-shadow: 0px 15px 10px rgba(0, 0, 0, 0.25);
        display: none;
    }
      
.wapper
{
    display: grid;
    grid-template-columns:  1fr 1fr;

}
    

.box-control
{
    height: 1080px;
    margin-top: -10px;
}

.au-container
{
    display: block;
    background-color: #2d2d2d;
}

.contacts-content
{
    display: block;
    background-color: #f4f4f4;
}

.svg-contacts
{
    margin: 25%;
    width: 50%;
    height: 50%;
}

@media (max-width: 1024px){
    .wapper
    {  
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 425px){
    .logo h1
    {
        display: none;
    }
}

footer
{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: #2d2d2d;
}
