*
{
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
}

html 
{
    scroll-behavior: smooth;
}

.header
{
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.logo
{
    position: absolute;
    left: 300px;
    top: 10px;
}

.logo h1
{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.logo h1 a
{
    text-decoration: none;
    color: #2d2d2d;
}

.inline
{
    display: inline;
}

.nav-menu
{
    margin-top: 10px;
    margin-left: 1400px;
}



.nav-menu > li
{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.nav-menu > li > a
{
    text-decoration: none;
    color: #2d2d2d;
    margin-left: 20px;
}

.container-img h1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    font-weight: 700;
    font-size: 128px;
    line-height: 148px;
    color: #fff;
    text-shadow: 0px 15px 10px rgba(0, 0, 0, 0.25);
}

.container_main-content
{
    position: relative;
}

.abutus-container img
{
    position: absolute;
    width: 100%;
    top: -4px;
    left: 0;
    z-index: 1;
}

.abutus-container h1
{
    position: absolute;
    z-index: 10;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    color: #FFFFFF;
    margin-top: 6%;
    left: 20%;
    transform: translate(-50%,-50%);
}

.abutus-container a
{
    position: absolute;
    z-index: 10;
    bottom: -1070px;
    font-weight: lighter;
    text-decoration: none;
    left: 30%;
    line-height: 28px;
    color: #FFFFFF;
    transform: translate(-50%,-50%);
}

.contacts-container h1
{
    position: absolute;
    z-index: 10;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    color: #2d2d2d;
    margin-top: 6%;
    left: 75%;
    transform: translate(-50%,-50%);
}

.contacts-container svg
{
    box-sizing: border-box;
    position: absolute;
    left: 1135px;
    top: 250px; 
}

.item_tg
{
    position: absolute;
    top: 340px;
    left: 65%;
    transform: translate(-50%,-50%);
    z-index: 100;
}

.item_wa
{
    position: absolute;
    top: 505px;
    left: 85.5%;
    transform: translate(-50%,-50%);
    z-index: 100;
}

.item_vb
{
    position: absolute;
    top: 610px;
    left: 72.3%;
    transform: translate(-50%,-50%);
    z-index: 100;
}

.item
{
    cursor: pointer;
}

.svg-auc
{
    position: absolute;
    z-index: 10;
    margin-top: 15%;
    margin-left: 3%;
}