*
    {
        margin: 0;
        padding: 0;
        font-family: 'Play', sans-serif;
    }
    
    html 
    {
        scroll-behavior: smooth;
    }

    body{background-color: #f4f4f4;}
    
    .header
    {
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 50px;
        background-color: #fff;
        box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.25);
        z-index: 10;
    }
    
    .logo
    {
        position: absolute;
        left: 10%;
        top: 10px;
    }
    
    .logo h1
    {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }
    
    .logo h1 a
    {
        text-decoration: none;
        color: #2d2d2d;
    }
    
    .inline
    {
        display: inline;
        margin-top: 6px;
    }
    
    .nav-menu
    {
        position: absolute;
        right: 10%;
        top: 10px;
    }
    
    
    .nav-menu > li
    {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }
    
    .nav-menu > li > a
    {
        text-decoration: none;
        color: #2d2d2d;
        margin-left: 20px;
    }

    .container-img
    {
        background: url(../img/photos-top-header.png)  center;
        width: 100%; 
        height: 1080px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .txt_info
    {
        display: flex;
        padding: 15%;
        font-size: 84px;
        color: #fff;
        text-align: inherit;
        text-shadow: 0px 15px 10px rgba(0, 0, 0, 0.25);
    }
      
.wapper
{
    display: grid;
    grid-template-columns:  1fr 1fr;

}
    

.box-control
{
    margin-top: -10px;
    height: 1000px;
}

.au-container
{
    display: block;
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.au-container h1
{
    color: #f4f4f4 ;
    text-align: center;
    padding: 50px;
}

.au-container p
{
    display: flex;
    color: #f4f4f4;
    font-size: 20px;
    justify-content: center;
    padding: 15%;
}

.contacts-content
{   
    display: block;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.svg-contacts
{
    display: flex;
    margin: 0 auto;
    padding: 30px;
    width: 50%;
    height: 50%;
}

footer
{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: #2d2d2d;
}

.inline_bottom
{
    display: flex;
    margin: 0 auto;
    padding: 15px;
}

@media (max-width: 1440px){
    .wapper
    {  
        display: grid;
        grid-template-columns: 1fr;
    }

    .contacts-content
    {  
    height: 300px;
    }
}

@media (max-width: 768px){
    .txt_info
    {
        font-size: 54px;
    }
    .nav-menu > li
    {
        font-size: 20px;
    }
}

@media (max-width: 425px){
    .logo h1
    {
        display: none;
    }
}
